<p id="notice"><%= notice %></p>

<h1>Results</h1>

<% @ingredients.each do |ing| %>
    Recipes with <b><%= ing.name %></b> : <br/>
    <% ing.recipes.each do |recipe| %>
        - <%= recipe.name %> <br/>
    <% end %>
<% end %>


