@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import "materialize";

// materialize/components
@import "materialize/components/global";
@import "materialize/components/icons-material-design";


#logo {
    padding-left: 60px;
    background: url('logo2.png') ;
    background-repeat: no-repeat;
    background-position: 0px 5px;
    &:hover {
        text-decoration: none;
        background: url('logo_hover.png') ;
        background-repeat: no-repeat;
        background-position: 0px 5px;
    }
}



