@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
    color: #565A5C;
    background-color: #F8F8F8;
    .main-container{
        padding-top: 20px;
    }
}

.panel{
    border-radius: 0px;
}

.container{
    width: 80%;
}

section {
    overflow: auto;
}

textarea {
    resize: vertical;
}

.center {
    text-align: center;
    h1 {
        margin-bottom: 10px;
    }
}

/* Tables */
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc; 
    -moz-box-shadow: 0 1px 1px #ccc; 
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

p {
    font-size: 1.1em;
    line-height: 1.7em;
}

/* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #9d9d9d;
    letter-spacing: -1px;
    padding-top: 16px;
    padding-left: 50px;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    &:hover {
        color: #5d5d5d;
        text-decoration: none;
        background-image: url('logo_hover.png');
        background-repeat: no-repeat;
    }
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light;
    color: $gray-light;
    a {
        color: $gray;
        &:hover {
            color: $gray-darker;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}

.navbar-default{
    background-color: #FFFFFF;
    .navbar-brand{
        color: #FF5A5F;
        font-size: 2em;
        font-weight: 500;
    }
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #5d5d5d;
}

.home-btn.btn{
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    background-color: #FF5A5F;
    color: #FFF;
    padding: 10px 15px;
    margin-right: 10px;
    margin-top: 10px;

    &:hover, &:focus{
        border-color: #FF7E82;
        border-bottom-color: #FA0008;
        background-color: #FF7E82;
        outline:none;
    }
    &:active{
        border-color: #E00007;
        background-color: #E00007;
        outline: none;
    }
}

.btn-primary.btn{
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    background-color: #FF5A5F;
    color: #FFF;
    padding: 10px 25px;
    margin-right: 20px;

    &:hover, &:focus{
        border-color: #FF7E82;
        border-bottom-color: #FA0008;
        background-color: #FF7E82;
        outline:none;
    }
    &:active{
        border-color: #E00007;
        background-color: #E00007;
        outline: none;
    }
}

.btn-default.btn{
    width: 100%;
    border-radius: 2px;
    padding: 10px 0;
    margin-top: 10px;
}

.form-group{
    margin-bottom: 25px;
}

.form-control{
    border-radius: 2px;
    height: 4rem;
}

label {
    color: #565A5C;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 10px;
}

select{
    color: #565A5C;
    background-color: #FFF;
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select:before{
    content: '\25bc';
    font-size: 1.2em;
    position: absolute;
    color: #82888A;
    top: 42px;
    right: 30px;
    transform: scale(0.84, 0.5);
}

input[type=checkbox]{
    height: 1.25em;
    width: 1.25em;
    margin-right: 5px;
    vertical-align: top;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
}

input[type=checkbox]:checked:before{
    content: '\2713';
    position: absolute;
    font-size: 0.95em;
    text-align: center;
    width: 1.25em;
    color: #FF5a5F;
}

.btn-file{
    position: relative;
    overflow: hidden;

    input[type=file]{
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity:0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

.panel-heading.preview{
    padding: 0px;
    img{
        width: 100%;
    }
}

.amenities li{
    margin-bottom: 10px;
    list-style-type: none;
}

.text-line-through{
    text-decoration: line-through;
}

