@import "bootstrap-sprockets";
@import "bootstrap";

// ================================================================
// Begin: Variables definition
// ================================================================
$pure-white: #FFFFFF;
$pure-black: #000000;
$navbar-text-gray: #9D9D9D;
$navbar-text-hover-gray: #5D5D5D;
$gray-medium-light-border: #EAEAEA;
$gray-light-background: #F8F8F8;
$gray-dark-font-color: #565A5C;
$red-dark-text: #990000;
$button-background: #FF5A5F;
$button-border: #FF5A5F;
$button-hover-background: #FF7E82;
$button-active-background: #E00007;

// ================================================================
// End: Variables definition
// ================================================================

// ================================================================
// Begin: Body and main layout definition
// ================================================================
body {
    color: $gray-dark-font-color;
    background-color: $gray-light-background;
    .main-container{
        padding-top: 20px;
    }
}

.container{
    width: 80%; // This % gives the width of the main layout.
}

// ================================================================
// End: Body definition
// ================================================================

// ================================================================
// Begin: Typography
// ================================================================
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
}

.enlighted-text {
    color: $red-dark-text;
    font-weight: bold;
}

// ================================================================
// End: Typography
// ================================================================

// ================================================================
// Begin: Header
// ================================================================
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: $navbar-text-gray;
    letter-spacing: -1px;
    padding-top: 16px;
    padding-left: 50px;
    background-image: url('logo.png');
    &:hover {
        color: $navbar-text-hover-gray;
        text-decoration: none;
        background-position: -204px 0px; // Move image 204px left
    }
}

.navbar-default{
    background-color: $pure-white;
}

.navbar-inverse .navbar-nav > li > a {
    color: $navbar-text-gray;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: $navbar-text-hover-gray;
}
// ================================================================
// End: Header
// ================================================================


// ================================================================
// Begin: Footer
// ================================================================
footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid $gray-medium-light-border;
    color: $gray-light;
    font-size: small;
    a {
        color: $gray;
        &:hover {
            color: $gray-darker;
        }
    }
    small {
        float: left;
    }
    ul {
        float: right;
        list-style: none;
        li {
            float: left;
            margin-left: 15px;
        }
    }
}

// ================================================================
// End: Footer
// ================================================================


// ================================================================
// Begin: Buttons design
// ================================================================
.home-btn.btn{
    border: 1px solid $button-border;
    border-radius: 4px;
    background-color: $button-background;
    color: $pure-white;
    padding: 10px 15px;
    margin-right: 10px;
    margin-top: 10px;

    &:hover, &:focus{
        border-color: $button-hover-background;
        border-bottom-color: $button-hover-background;
        background-color: $button-hover-background;
        outline:none;
    }
    &:active{
        border-color: $button-active-background;
        background-color: $button-active-background;
        outline: none;
    }
}

.btn-primary.btn{
    border: 1px solid $button-background;
    border-radius: 4px;
    background-color: $button-background;
    color: #FFF;
    padding: 10px 25px;
    margin-right: 20px;

    &:hover, &:focus{
        border-color: $button-hover-background;
        border-bottom-color: $button-hover-background;
        background-color: $button-hover-background;
        outline:none;
    }
    &:active{
        border-color: $button-active-background;
        background-color: $button-active-background;
        outline: none;
    }
}

.btn-default.btn{
    width: 100%;
    border-radius: 2px;
    padding: 10px 0;
    margin-top: 10px;
}
// ================================================================
// End: Buttons design
// ================================================================

// ================================================================
// Begin: Forms design
// ================================================================
.form-group{
    margin-bottom: 25px;
}

.form-control{
    border-radius: 2px;
    height: 4rem;
}

label {
    color: #565A5C;
    font-size: 1.1em;
    font-weight: 500;
    margin-bottom: 10px;
}

select{
    color: #565A5C;
    background-color: $pure-white;
    width: 100%;
    border: 1px solid #CCC;
    border-radius: 2px;
    padding: 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select:before{
    content: '\25bc';
    font-size: 1.2em;
    position: absolute;
    color: #82888A;
    top: 42px;
    right: 30px;
    transform: scale(0.84, 0.5);
}

input[type=checkbox]{
    height: 1.25em;
    width: 1.25em;
    margin-right: 5px;
    vertical-align: top;
    border: 1px solid #C4C4C4;
    border-radius: 2px;
}

input[type=checkbox]:checked:before{
    content: '\2713';
    position: absolute;
    font-size: 0.95em;
    text-align: center;
    width: 1.25em;
    color: #FF5a5F;
}

.btn-file{
    position: relative;
    overflow: hidden;

    input[type=file]{
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity:0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
}

// ================================================================
// End: Forms design
// ================================================================

// ================================================================
// Begin: Table definition
// ================================================================
table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}

.bordered {
    border: solid #ccc 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 1px 1px #ccc;
    -moz-box-shadow: 0 1px 1px #ccc;
    box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
    background: #fbf8e9;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.bordered th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:    -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:     -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:      -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image:         linear-gradient(top, #ebf3fc, #dce9f9);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
    border-left: none;
}

.bordered th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

.bordered th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

.bordered th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
}

// ================================================================
// End: Table definition
// ================================================================
